[Desktop Entry]
Name=SAND LAND Demo
Comment=Play this game on Steam
Exec=steam steam://rungameid/2646380
Icon=steam_icon_2646380
Terminal=false
Type=Application
Categories=Game;
